@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Noto+Sans+JP:wght@400;500;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #F5F7FA;
  color: #2D3436;
  line-height: 1.7;
}
